@font-face {
    font-family:"Kreon" ;
    src: url("../../assets/fonts/Kreon/static/Kreon-Regular.ttf") format("opentype");
}
* {
    font-family: "Kreon";
}


.Login {
    display: flex;
    flex-basis: 100%;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.Login .header-div {
    display: flex;
    flex-basis: 100%;
    min-width: 1800px;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    background-color: black;
    opacity: 0.8;
    padding: 60px;
    margin-bottom: 100px;
}


#appName {
    font-size: 130px;
    color: white;
}

#detailAppName {
    font-size: 50px;
    color: white;
}

.Login .form {
    display: flex;
    flex-direction: row;
}

.Login .form-margin-left {
    display: flex;
    padding-left: 40%;
}

.Login .form-margin-right {
    display: flex;
    padding-right: 40%;
}

.Login .login-form {
    display: flex;
    flex-basis: 20%;
    flex-direction: column;
    border-radius: 20px;
    background-color: black;
    opacity: 0.8;
    justify-content: center;
    align-content: center;
    padding:20px
}

#signin-signup-text {
    font-size: 30px;
    font-weight: bold;
    color: white;
}

.Login .login-form .login-text {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    margin-bottom: 10px;
}

.Login .login-form .username-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    margin-bottom: 20px;
}


.Login .login-form .pw-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

.Login .login-form .button-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    margin-top: 5%;
}

.Login .login-form .wrong-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    height: 15px;
}

#username-text {
    font-size: 20px;
    color: white;
    margin-right: 20px;
}

#username-input {
    padding-right: 50px;
}

#pw-text {
    font-size: 20px;
    color: white;
    margin-right: 20px;
}

#pw-input {
    padding-right: 50px;
}

#login-button {
    flex-direction: row;
    background-color: white;
    border:none;
    border-radius: 20px;
    padding:10px;
    font-size: 20px;
    margin-right: 20px;
}

#signup-button {
    flex-direction: row;
    border:none;
    background-color: white;
    border-radius: 20px;
    padding:10px;
    font-size: 20px;
}

#login-button:hover {
    background-color: black;
    opacity: 0.8;
    color: white;
}

#signup-button:hover {
    background-color: black;
    opacity: 0.8;
    color: white;
}

#wrong-text {
    color: #FF6060;
}