.ClosetItem {
	display: flex;
	width: 30%;
	max-width: 500px;
	min-height: 300px;
	max-height: 300px;
	flex-direction: row;
	justify-content: center;
	align-content: center;
	background-color: white;
	margin-bottom: 3%;
	margin-left: 1%;
	margin-right: 1%;
}

.ClosetItem .ClothImage {
	display: block;
	flex-direction: column;
	justify-content: center;
	height: 100%;
}

#modal-frame{
	width: 90%;
	height: 100%;
}
#cloth-img {
	width: 200px;
	height: 100%;
	object-fit: cover;
}

.ClosetItem .ClothLable {
	display: flex;
	flex-direction: column;
	/* justify-content: center; */
	align-content: center;
	text-align: left;
	width: 150px;
	margin-left: 1%;
}

#type-label {
	font-size: 20px;
	font-weight: 500;
}

#type-text {
	font-size: 20px;
	font-weight: 200;
}
#color-label {
	font-size: 20px;
	font-weight: 500;
}

#color-text {
	font-size: 20px;
	font-weight: 200;
}

#stripe-label {
	font-size: 20px;
	font-weight: 500;
}


#stripe-text {
	font-size: 20px;
	font-weight: 200;
}

#detail-modal {
	justify-content: center;
	align-content: center;
	height: 80%;
	width: 80%;
}
