@font-face {
	font-family: "Kreon";
	src: url("../../assets/fonts/Kreon/static/Kreon-Regular.ttf")
		format("opentype");
}

.AddClothModal {
	display: flex;
	flex-basis: 100%;
	flex-direction: column;
}

#meta-type-select {
	display: flex;
	/* width: 100%; */
	padding: 8px 8px;
	/* font-size: 20px; */
	line-height: 20px;
	margin-top: 5px;
	margin-bottom: 5px;
	border: 1px solid;
	color: inherit;
	background-color: transparent;
	/* margin-bottom: 30px; */
}

#AddClothModal-text {
	margin-left: 25px;
	font-size: 30px;
	color: black;
}

.AddClothModal .AddClothModalTop {
	display: flex;
	flex-direction: row;
	width: 1000px;
}

/*cashing?*/
.AddClothModal .AddClothModalTop .UploadClothDiv {
	display: flex;
	width: 600px;
	min-width: 500px;
	height: auto;
	flex-direction: column;
	margin-left: 25px;
	margin-top: 2%;
	margin-bottom: 1%;
	/* border-color: black; */
	box-shadow: gray;
	box-shadow: 1px 1px 10px 0px;
}

.AddClothModal .AddClothModalTop .UploadClothDiv .UploadedClothTempDiv {
	margin-top: 10px;
	margin-left: 40px;
	margin-right: 65%;
	background-color: lightgray;
	width: 400px;
	height: 500px;
	text-align: center;
	display: table;
}

.AddClothModal
	.AddClothModalTop
	.UploadClothDiv
	.UploadedClothTempDiv
	.UploadedClothTempDiv-text {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

#upload-cloth-button {
	margin-top: 10px;
	margin-left: 40px;
	margin-right: 65%;
	background-color: black;
	color: white;
	border: none;
	padding: 5px;
	font-size: 15px;
	margin-bottom: 2%;
}

#upload-cloth-button:hover {
	opacity: 1;
}

.AddClothModal .AddClothModalTop .UploadedClothInfoDiv {
	display: flex;
	width: 500px;
	min-width: 500px;
	height: auto;
	flex-direction: column;
	margin-left: 50px;
	margin-top: 2%;
	/* border-color: black; */
	box-shadow: gray;
	box-shadow: 1px 1px 10px 0px;
	padding-bottom: 70px;
}

.AddClothModal
	.AddClothModalTop
	.UploadedClothInfoDiv
	.UploadedClothInfoDiv-sub {
	display: flex;
	flex-direction: row;
	margin-top: 0;
	max-height: min-content;
}

#UploadedClothInfoDiv-text {
	margin-left: 40px;
	margin-right: 30px;
	font-size: 20px;
	color: black;
}

#cloth-info-input {
	margin-left: 40px;
}

#create-cloth-button {
	margin-top: 20px;
	margin-left: 40px;
	margin-right: 75%;
	background-color: black;
	color: white;
	border: none;
	padding: 5px;
	font-size: 15px;
}

#create-cloth-button:hover {
	opacity: 1;
}

#ai_color {
	margin-left: 5px;
	font-size: 15px;
}
