.Header {
    display: inline-flex;
    flex-basis: 100%;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    background-color: black;
    opacity: 0.8;
}

.Header .headerText {
    display: flex;
    flex-basis: 100%;
    padding-left: 13%;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding-bottom: 60px;
    cursor: pointer;
}

.Header .headerButton {
    display: inline-flex;
}

#appName {
    font-size: 125px;
    color: white;
}

#detailAppName {
    font-size: 50px;
    color: white;
}

#infoButton {
    display: inline-flex;
    margin-right: 5px;
    padding-top: 8px;
    flex-direction: row;
    background-color: white;
    border:none;
    justify-content: center;
    align-content: center;
    margin-top: 10%;
    width: 100px;
    height: 15%;
    border-radius: 20px;
    font-size: 20px;
}

#logoutButton {
    margin-right: 5px;
    padding-top: 8px;
    display: inline-flex;
    flex-direction: row;
    background-color: white;
    border:none;
    justify-content: center;
    align-content: center;
    margin-top: 10%;
    width: 100px;
    height: 15%;
    border-radius: 20px;
    font-size: 20px;
}

#infoButton:hover {
    background-color: black;
    opacity: 0.8;
    color: white;
}

#logoutButton:hover {
    background-color: black;
    opacity: 0.8;
    color: white;
}