@font-face {
	font-family: "Kreon";
	src: url("../../assets/fonts/Kreon/static/Kreon-Regular.ttf")
		format("opentype");
}
* {
	font-family: "Kreon";
}

.Home {
	display: flex;
	flex-basis: 100%;
	flex-direction: column;
}

.Home .Home-header {
	min-width: 1800px;
	width: 100%;
}

.Home .HomeTop {
	display: flex;
	max-width: 1750px;
	flex-direction: row;
}
/*cashing?*/
.Home .HomeTop .ClosetDiv {
	display: inline-block;
	width: 50%;
	min-width: 1030px;
	height: auto;
	flex-direction: column;
	margin-left: 3%;
	margin-top: 2%;
	/* border-color: black; */
	box-shadow: gray;
	box-shadow: 1px 1px 10px 0px;
}

#Closet-text {
	margin-top: 10px;
	font-size: 60px;
	color: black;
	padding-right: 75%;
}

.Home .HomeTop .Closet-image {
	flex-direction: row;
	align-content: center;
	margin-top: 5%;
	justify-content: left;
}

.Home .HomeTop .Closet-image .Closet-item-box {
	display: flex;
	flex-direction: row;
	align-content: center;
	justify-content: center;
}

.Home .HomeTop .Closet-button {
	display: flex;
	align-content: center;
	justify-content: center;
}

#more-button {
	margin-bottom: 30px;
	background-color: black;
	color: white;
	border: none;
	padding: 10px;
	font-size: 40px;
}

#more-button:hover {
	opacity: 1;
}

.Home .HomeTop .TodayOutfit {
	display: flex;
	width: 38%;
	min-width: 720px;
	height: auto;
	flex-direction: column;
	margin-top: 2%;
	margin-left: 2%;
	box-shadow: gray;
	box-shadow: 1px 1px 10px 0px;
}

.Home .HomeTop .TodayOutfit .TodayOutfit-content {
	display: flex;
	flex-direction: row;
	width: 100%;
	height: auto;
	align-content: flex-start;
	justify-content: flex-start;
	margin-top: 40px;
}

.Home .HomeTop .TodayOutfit .TodayOutfit-content .TodayOutfit-image {
	display: inline-block;
	align-content: center;
	justify-content: center;
	width: 50%;
	height: 50%;
	float: left;
}

.Home .HomeTop .TodayOutfit .TodayOutfit-content .TodayOutfit-lable {
	display: inline-flex;
	flex-direction: column;
	align-content: flex-start;
	/* justify-content: flex-start; */
	text-align: start;
	width: 45%;
	height: auto;
}

#TodayOutfit-text {
	margin-top: 10px;
	font-size: 60px;
	color: black;
	padding-right: 48%;
	margin-left: 3%;
}

#name-label{
	font-size: 22px;
	font-weight: 1000;
}

#today-outfit-info-text {
	font-size: 20px;
	font-weight: 200;
	margin-left: 1%;
	line-height: 1.3;
    height: 4em;
	word-wrap: break-word;
	overflow:hidden;
}

#today-cloth-name {
	font-size: 20px;
	font-weight: 200;
	margin-left: 5px;
}

#wear-button {
	background-color: black;
	color: white;
	border: none;
	padding: 10px;
	font-size: 30px;
	margin-top: 10px;
	margin-bottom: 20px;
}

#wear-button:hover {
	opacity: 1;
}

.Home .HomeBottom {
	display: flex;
	max-width: 1800px;
	flex-direction: row;
}

.Home .HomeBottom .OutfitDiv {
	display: flex;
	width: 95%;
	min-width: 1770px;
	flex-direction: column;
	margin-left: 3%;
	margin-top: 2%;
	padding-bottom: 100px;
	box-shadow: gray;
	box-shadow: 1px 1px 10px 0px;
}

.Home .HomeBottom .OutfitDiv .OutfitHead {
	display: flex;
	margin-top: 10px;
	flex-direction: row;
	margin-left: 40px;
}

#Outfit-text {
	font-size: 60px;
	color: black;
}

#outfit-more-button {
	margin-left: 83%;
	background-color: black;
	color: white;
	border: none;
	padding: 10px;
	font-size: 40px;
}

#outfit-more-button:hover {
	opacity: 1;
}

.Home .HomeBottom .OutfitDiv .OutfitImage {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin-top: 20px;
	align-content: flex-start;
}

.Home .HomeBottom .OutfitDiv .OutfitPreviewItem {
	width: 30%;
	margin-left: 2%;
	margin-bottom: 2%;
	font-size: 20px;
	font-weight: 200;
	text-align: left;
}
