@font-face {
	font-family: "Kreon";
	src: url("../../assets/fonts/Kreon/static/Kreon-Regular.ttf")
		format("opentype");
}

.FilterModal {
	display: flex;
	flex-basis: 100%;
	flex-direction: column;
}

#type-select {
	display: block;
	/* width: 100%; */
	padding: 8px 8px;
	/* font-size: 20px; */
	line-height: 20px;
	margin-top: 5px;
	margin-bottom: 5px;
	border: 1px solid;
	color: inherit;
	background-color: transparent;
	/* margin-bottom: 30px; */
}

#type-select:focus {
	border-color: red;
}

#color-select {
	display: block;
	width: 100%;
	padding: 8px 8px;
	font-size: 20px;
	line-height: 20px;
	border: 1px solid;
	color: inherit;
	background-color: transparent;
	margin-bottom: 30px;
}

#color-select:focus {
	border-color: red;
}

#pattern-select {
	display: block;
	width: 100px;
	padding: 8px 8px;
	font-size: 20px;
	line-height: 20px;
	border: 1px solid;
	color: inherit;
	margin-top: 5px;
	background-color: transparent;
}

#pattern-select:focus {
	border-color: red;
}

#done-button {
	display: inline;
	margin-top: 15px;
	background-color: black;
	color: white;
	border: none;
	padding: 10px;
	font-size: 40px;
}

#done-button:hover {
	opacity: 1;
}
