@font-face {
	font-family: "Kreon";
	src: url("../../assets/fonts/Kreon/static/Kreon-Regular.ttf")
		format("opentype");
}
* {
	font-family: "Kreon";
}

.Closet {
	display: flex;
	flex-direction: column;
}

.Closet .Closet-header {
	min-width: 1280px;
}

.Closet .ClosetTop {
	flex-direction: row;
}
/*cashing?*/
.Closet .ClosetTop .ClosetDiv {
	display: flex;
	width: 94%;
	min-width: 1280px;
	height: auto;
	flex-wrap: wrap;
	flex-direction: column;
	margin-left: 3%;
	margin-top: 2%;
	/* border-color: black; */
	border-radius: 40px;
	box-shadow: gray;
	box-shadow: 1px 1px 10px 0px;
	padding-bottom: 70px;
}

.Closet .ClosetTop .ClosetDiv .ClosetHead {
	display: flex;
	margin-top: 10px;
	flex-direction: row;
	
}

.Closet .ClosetTop .ClosetDiv .ClosetItems {
	display: inline-flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin-left: 5%;
	white-space: wrap;
	margin-top: 20px;
}


#type-select {
	/* margin-left: 100%; */
	margin-left: 40px;
	margin-top: 15%;
	padding: 8px 8px;
	line-height: 20px;
	border: 1px solid;
	border-radius: 4px;
	color: inherit;
	background-color: transparent;
}

#type-select:focus {
	border-color: red;
}

#Closet-text-main {
	margin-left: 2%;
	font-size: 60px;
	color: black;
}

#add-cloth-button {
	margin-left: 2%;
	background-color: black;
	color: white;
	border: none;
	border-radius: 30px;
	padding: 10px;
	padding-left: 20px;
	padding-right: 20px;
	font-size: 20px;
	opacity: 0.7;
}

#modal-close-button{
	margin-left: 95%;
	background-color: black;
	color: white;
	border: none;
	border-radius: 30px;
	padding: 10px;
	padding-left: 20px;
	padding-right: 20px;
	font-size: 20px;
	opacity: 0.7;
}

#add-cloth-button:hover {
	opacity: 1;
}

#add-cloth-text {
	width: 500px;
	font-size: 30px;
}

#Closet-text-sub {
	margin-top: 10px;
	font-size: 30px;
	color: black;
}

.Closet .ClosetTop .Closet-image-sub {
	display: flex;
	flex-direction: row;
}
