@font-face {
    font-family:"Kreon" ;
    src: url("../../assets/fonts/Kreon/static/Kreon-Regular.ttf") format("opentype");
}
* {
    font-family: "Kreon";
}
.Signup .Header {
    display: inline-flex;
    flex-basis: 100%;
    width: 100%;
    height: 100px;
    flex-direction: row;
    background-color: black;
    margin-bottom: 150px;
}
.Signup .header-div {
    display: flex;
    flex-basis: 100%;
    padding-top: 10px;
    align-content:flex-end;
    cursor: pointer;
}

#appName {
    padding-left: 3%;
    font-size: 70px;
    color: white;
}

#detailAppName {
    padding-top: 40px;
    font-size:30px;
    margin-left: 10px;
    color: white;
}

.Signup .form {
    display: flex;
    flex-direction: row;
}

.Signup .form-margin-left {
    display: flex;
    padding-left: 40%;
}

.Signup .form-margin-right {
    display: flex;
    padding-right: 40%;
}

.Signup .Signup-form {
    display: flex;
    flex-basis: 20%;
    flex-direction: column;
    background-color: black;
    justify-content: center;
    align-content: center;
    padding:20px
}

#signin-signup-text {
    font-size: 30px;
    font-weight: bold;
    color: white;
}

.Signup .Signup-form .Signup-text {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    margin-bottom: 50px;
}

.Signup .Signup-form .username-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    margin-bottom: 20px;
}


.Signup .Signup-form .pw-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    margin-bottom: 20px;
}

.Signup .Signup-form .checkpw-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

.Signup .Signup-form .button-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    margin-top: 5%;
}

.Signup .Signup-form .wrong-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

#username-text {
    font-size: 20px;
    color: white;
    margin-right: 20px;
}

#username-input {
    padding-right: 50px;
    width: 150px;
    height: 20px;
}

#pw-text {
    font-size: 20px;
    color: white;
    margin-right: 20px;
}

#checkpw-text {
    font-size: 20px;
    color: white;
    margin-right: 20px;
}

#pw-input {
    padding-right: 50px;
    width: 150px;
    height: 20px;
}

#checkpw-input {
    padding-right: 50px;
    width: 150px;
    height: 20px;
}

#Signup-button {
    flex-direction: row;
    background-color: white;
    border:none;
    padding:10px;
    font-size: 20px;
    margin-right: 20px;
}

#signup-button {
    flex-direction: row;
    border:none;
    background-color: white;
    padding:10px;
    font-size: 20px;
}

#Signup-button:hover {
    background-color: black;
    color: white;
}


#wrong-text {
    color: #FF6060;
}