@font-face {
	font-family: "Kreon";
	src: url("../../assets/fonts/Kreon/static/Kreon-Regular.ttf")
		format("opentype");
}

.OutfitDetail {
	display: flex;
	flex-basis: 100%;
	flex-direction: column;
}

.OutfitDetail .header {
	min-width: 1800px;
}

.OutfitDetail .OutfitDetail-body {
	display: flex;
	flex-direction: row;
}

.OutfitDetail .OutfitDetail-body .Outfit-image {
	display: flex;
	width: 45%;
	min-width: 720px;
	min-height: fit-content;
	height: auto;
	flex-direction: column;
	margin-left: 3%;
	margin-top: 2%;
	padding: 20px;
	/* border-color: black; */
	box-shadow: gray;
	box-shadow: 1px 1px 10px 0px;
}

#-outfit-img {
	min-width: 300px;
	height: 600px;
	object-fit: contain;
}

.OutfitDetail .OutfitDetail-body .OutfitDetailData {
	display: flex;
	width: 45%;
	min-width: 720px;
	height: auto;
	flex-direction: column;
	text-align: left;
	margin-top: 2%;
	margin-left: 2%;
	box-shadow: gray;
	box-shadow: 1px 1px 10px 0px;
}

.OutfitDetail .OutfitDetail-body .OutfitDetailData .OutfitName {
	font-size: 50px;
	color: black;
}

#name-label{
	margin-left: 25px;
	margin-top: 5px;
	font-size: 30px;
	font-weight: 1000;
}

.OutfitDetail .OutfitDetail-body .OutfitDetailData .OutfitInfo {
	margin-top: 10px;
	margin-bottom: 30px;
	color: black;
	font-size: 25px;
	margin-left: 30px;
}

#outfit-purchase-button {
	display: inline-block;
	margin-left: 30px;
	margin-bottom: 30px;
	width: fit-content;
	margin-top: 5%;
	background-color: black;
	color: white;
	border: none;
	padding: 10px;
	font-size: 30px;
}

#outfit-purchase-button:hover {
	opacity: 1;
}

#samplecloth-title {
	margin-top: 10px;
	font-size: 30px;
	color: black;
	margin-left: 10%;
	margin-right: 10%;
}

.OutfitDetail .OutfitDetail-body .OutfitDetailData .sampleClothes {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

#samplecloth-img {
	width: 100%;
	height: 50%;
	object-fit: cover;
}

#sample-modal {
	display: flex;
	height: 70%;
}
